.about-us {
  margin-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  gap: 20px;

  &-content {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: $color-aqua-700;
    }

    &__desc {
      margin-top: 20px;
      max-width: 488px;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: $color-black-200;
    }

    &__items {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__item {
      display: flex;
      gap: 20px;

      &-icon {
        width: 50px;
        height: 50px;
        fill: $color-aqua-700;
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
          font-weight: 500;
          font-size: 24px;
          line-height: 26px;
          color: $color-aqua-700;
        }

        p {
          max-width: 306px;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: $color-black-200;
        }
      }
    }
  }

  &-image {
    margin-left: auto;
    max-width: 596px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 920px) {
  .about-us{
    padding: 40px;
    flex-direction: column;

    &-image{
      margin-top: 20px;
    }
  }
}