.banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-content {
    margin-top: 100px;
    padding: 75px 40px 75px 120px;
    background: $color-aqua-800;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      max-width: 458px;
      font-weight: 700;
      font-size: 56px;
      line-height: 68px;
      color: $color-white-50;
    }

    p {
      max-width: 333px;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      color: $color-white-50;
    }
  }

  &-image{
    position: absolute;
    max-width: 972px;
    right: 0;
    z-index: -9;

    img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 920px) {
  .banner-content{
    padding: 20px 60px;
    gap: 10px;
    opacity: 0.7;

    h1{
      max-width: 300px;
      font-size: 38px;
      line-height: 48px;
    }

    p{
      max-width: 200px;
      font-size: 14px;
      line-height: 29px;
    }
  }
}

@media screen and (max-width: 600px) {
  .banner-content{
    margin-top: 0;
    padding: 15px;
    gap: 10px;
    opacity: 0.6;

    h1{
      max-width: 300px;
      font-size: 28px;
      line-height: 48px;
    }

    p{
      max-width: 200px;
      font-size: 12px;
      line-height: 29px;
    }
  }
}