$color-white-50: #FFFFFF;
$color-white-100: #ECF4FF;
$color-white-200: #e3e3e3;

$color-yellow-50: #FFB624;

$color-orange-100: #EF5423;

$color-aqua-700: #244D4D;
$color-aqua-800: #154444;

$color-black-600: #919090;
$color-black-400: #666666;
$color-black-200: #383738;
$color-black-100: #161616;